.App {
	text-align: center;
}

input:focus {
	box-shadow: none;
}

select {
	cursor: pointer;
}

select:option {
	cursor: pointer;
}

input[type='file'] {
	border: 1px solid #ccc;
	cursor: pointer;
  text-align: center;
  /* justify-content: center; */
  /* margin: 15px; */
  /* padding-top: 20px; */
}

